title{
    font-family: "Times New Roman","Arial","SansSerif";
    background-color: beige;
}
head{
    background-color: beige;

}
body{
background-image: url("images/szines-lepkek-repulnek-hatterkep-36144.jpg");
}
div.scrollmenu {
    background-color:plum;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#b{
    padding:0;
    background : none;
    border:none;
    font-size: large;
}
