
img {
  width: 100%;
  height: auto;
}
div.scrollmenu{
    word-spacing: 20px;
    margin-left: 2.5em;
    font-size: large;
    font-weight: bolder;
    font-family: "Times New Roman", "Arial", "SansSerif";

}
.tab{
    margin-left: 2.5em;
}