body, html {
  height: auto;
}

body {
background-image:url("images/szines-lepkek-repulnek-hatterkep-36144.jpg");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
 
}
div.scrollmenu{
    margin:auto;
   

}
