body{
    background-image: url("images/szines-lepkek-repulnek-hatterkep-36144.jpg");
}
#h2{
    text-align: center;
    font-family: "Times New Roman", "Arial", "SansSerif";
    font-style: italic;
}
div.col{
    background-color: #dddddd;
}